footer {
    padding: 60px 0;
    padding-bottom: 0px;
    border-top: 1px solid #cd4557 ;
    .logo {
        max-width: 100%;
    }
    h5 {
        color: #cd4557 ;
    }
    .contact-list {
        dd {
            color: #000 ;
                a {
                color: #000 ;
                text-decoration: none;
            }
        }
    }
    .main-links {
        list-style-type: none;
        padding: 0;
        li a {
            color: #000;
            text-decoration: none;
            &:hover {
                color: #cd4557;
            }
        }
    }
    .red-background {
        background-color: #cd4557;
    }
    .social {
        font-size: 30px;
        margin: 10px auto;
        li {
            a {
                margin: 0px 10px;
                color:#fff;
            }
        }
    }
}

