#profile {
    .padding-div {
        padding: 60px 10px;
    }
    .avtar {
        img {
            cursor: pointer;
            width: 100%;
            display: block;
            margin: 20px auto;
        }
        .file-input {
            width: 100%;
            overflow: hidden;
        }
    }
    .sideNav {
        .list-group-item {
            cursor: pointer;
            &:hover {
                a {
                    color: #cd4557;
                }
            }
        }

        .list-group-item.active {
            background-color: #cd4557;
            border: 1px solid #cd4557;
        }
    }
    .form-div {
        padding: 20px;
    }
}
