#add-product {
    .add-image-tile {
        color: #cd4557;
        height: 100px;
        width: 100px;
        border: 1px solid #cd4557;
        border-radius: 3px;
        padding: 35px;
        display: inline-block;
        margin-left: 10px;
        margin-top:3px;
        svg {
            height: 30px;
            width: 30px;
        }
        &:hover {
            box-shadow: 0px 0px 3px #cd4557;
            cursor: pointer;
            svg {
                fill: #cd4557;
            }
        }
        input {
            display: none;
        }
    }

    .image-tile {
        color: #cd4557;
        height: 100px;
        width: 100px;
        border: 1px solid #cd4557;
        border-radius: 3px;
        display: inline-block;
        margin-left: 10px;
        position: relative;
        margin-top:3px;
        img {
            height: 100%;
            width: 100%;
        }
        .main-link-red {
            position: absolute;
            top:-3px;
            right: 1px;
            z-index: 10;
        }
    }

    .tag-group {
        .form-control {
            height: auto;
        }
        .badge.bg-secondary{
            padding: 1px 10px;
            background-color: #cd4557 !important;
            font-size: 16px;
            line-height: 20px;
            font-weight: 400;
            margin-top: 5px !important;
            &:focus {
                outline: 0;
            }
        }
    }

    .ck-file-dialog-button,
    .ck.ck-dropdown {
        display: none;
    }
    .ck-heading-dropdown {
        display: inline-block !important;
    }
}
