.filters {
    display: flex;
    .filter-item {
        display: flex;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #666;
        .sort-btn {
            .btn-primary {
                background-color: #fff;
                border: 0;
                color: #000;
                padding: 0;
                margin: 0 10px;
                position: relative;
                bottom: 2px;
                box-shadow: none;
                text-transform: capitalize;
                color: #cd4557;
                &:active {
                    background-color: #fff;
                    color: #cd4557;
                }
                &:focus {
                    box-shadow: none !important;
                }
            }
        }
    }
}
