#forget-password {
    .logo {
        max-width: 100%;
    }
    .padding-div {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .recover-btn {
        background-color: #cd4557;
        color: #fff;
        height: 45px;
    }
}
