#profile {
    .padding-div {
        padding: 60px 10px;
    }
    .sideNav {
        .list-group-item {
            cursor: pointer;
            &:hover {
                a {
                    color: #cd4557;
                }
            }
        }

        .list-group-item.active {
            background-color: #cd4557;
            border: 1px solid #cd4557;
        }
    }
    .remo-div {
        padding: 20px;
        padding-top: 0px;
    }

    .bye-img {
        max-width: 100%;
        height: 200px;
        display: block;
        margin:0 auto;
    }
}
